.container {
    display:grid;
    grid-template-columns: 630px 1640px 630px;
    grid-template-rows:150px 200px 470px 330px 860px;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    font-size:40px;
    padding-left:46px;
    gap:39px;
}

.logo-icon {
    height:72px;
    width:72px;
}



.nav {
    grid-area: 2 / 1 / 4 / 2;
    color:white;
    font-family:verdana;
    font-size:34px;
    font-weight:bolder;

    padding-left:46px;
    display:grid;
    grid-template-columns: 70px 1fr;
    gap:30px;
    align-items:center;
    padding-top:70px;
    padding-bottom:50px;
}

.nav > img {
    justify-self:center;
}

.navrow {
    color:white;
    font-size:30px;
}

.home-icon {
    height:43px;
    weight:48px;
}

.profile-icon {
    height:36px;
    width:48px;
}

.msg-icon {
    height:40px;
    weight:40px;
}

.hist-icon {
    height:40px;
    weight:40px;
}

.tasks-icon {
    height:44px;
    width:43px;
}

.community-icon {
    height:48px;
    width:48px;
}

.settings {
    grid-area: 4 / 1 / 6 / 2;
}

.nav, .logo, .settings {
    background:#1992d4;
}

.projects, .announcements, .trending {
    background: #e2e8f0;
}

.projects {
    grid-area: 3 / 2 / 6 / 3;
}

.announcements {
    grid-area: 3 / 3 / 5 / 4;
}

.trending {
    grid-area: 5 / 3 / 6 / 4;
}



* {
    margin: 0px;
    padding: 0px;
}

.logo-title {
    color:white;
    font-family: Verdana;
    font-weight: 700;
    letter-spacing:0px;
}

.header {
    display:grid;
    align-items:center;
    grid-template-columns: minmax(0, 62fr) minmax(0, 38fr);
    grid-template-rows: minmax(0, 45fr) minmax(0, 55fr);
    grid-area: 1 / 2 / 3 / 4;
    margin-right:27px;
    margin-left:80px;
}

.search {
    display:flex;
    gap:40px;
    align-items:center;

}

fieldset {
    flex-grow:0.97;
    display:flex;
    border:none;
}


.search-icon {
    flex-grow:0.03;
    height:30px;
    width:10px;
}

#user-search {
    flex-grow: 1;
    height: 60px;
    border-radius: 100px;
    background: #e2e8f0;
    border:none;
}

.profile-alert {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;
}

.alert-icon {
    height:44px;
    width:44px;
}

.account-icon {
    height:94px;
    width:100px;
}

.account-name {
    font-size: 33px;
    font-weight:bold;
    font-family:Verdana;
}

.account-intro {
    display:flex;
    align-items:center;
}

p.account-hello > strong {
    font-size:40px;
}

.account-hello {
    font-family:Verdana;
    font-size:20px;
}

.account-icon-large {
    height: 150px;
    width: 150px;
}

.user-controls {
    display:flex;
    gap:55px;
    justify-content:center;
}

.user-controls > button {
    flex-grow:1;
    max-width: 200px;
    height:80px;
    border-radius: 40px;
    border:none;
    color:white;
    background-color: #1992d4;
    font-size:24px;
    font-weight:bold;
    font-family:Verdana;
}