.container {
    display:grid;
    grid-template-columns: 630px 1640px 630px;
    grid-template-rows:150px 200px 470px 330px 860px;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    font-size:40px;
    padding-left:46px;
    gap:39px;
}

.logo-icon {
    height:72px;
    width:72px;
}

.placeholder {
    grid-area: 5 / 1 / 6 / 2;
    background:#1992d4;
}

.nav {
    grid-area: 2 / 1 / 4 / 2;
    color:white;
    font-family:verdana;
    font-size:34px;
    font-weight:bolder;

    padding-left:46px;
    display:grid;
    grid-template-columns: 70px 1fr;
    gap:30px;
    align-items:center;
    padding-top:70px;
    padding-bottom:50px;
}

.nav > img {
    justify-self:center;
}

.navrow {
    color:white;
    font-size:30px;
}

.home-icon {
    height:43px;
    width:48px;
}

.profile-icon {
    height:36px;
    width:48px;
}

.msg-icon {
    height:40px;
    weight:40px;
}

.hist-icon {
    height:40px;
    weight:40px;
}

.tasks-icon {
    height:44px;
    width:43px;
}

.community-icon {
    height:48px;
    width:48px;
}

.settings {

    color:white;

    font-size:34px;
    font-family:Verdana;
    font-weight:bold;
    
    display:grid;
    grid-template-columns:70px 1fr;
    padding-left:46px;
    gap:30px;
    align-items:center;
    padding-top:40px;
}

.settings > img {
    justify-self: center;
}

.settings-icon {
    height:40px;
    width:40px;
}

.support-icon {
    height:44px;
    width:44px;
}

.privacy-icon {
    height:44px;
    width:44px;
}

.nav, .logo, .settings {
    background:#1992d4;
}

.projects, .announcements, .trending {
    background: #e2e8f0;
}

.projects, .announcements {
    padding-top:42px;
}

.projects {
    grid-area: 3 / 2 / 6 / 3;
    padding-left:50px;
    font-family:Verdana;
}

.project-intro {
    font-size:26px;
    letter-spacing: -1px;
    font-weight:bold;
    padding-top:33px;
    padding-bottom:33px;
}

.project-container {
    display:grid;
    grid-template-columns: 760px 760px;
    grid-template-rows: 430px 430px 430px;
    column-gap:50px;
    row-gap:60px;
}

.project-container > div {

    background:white;
    border-radius:20px;
    box-shadow: inset 1016px 0px 0px -1000px #f0b249, 10px 10px 15px 0px #ccd1d9;
    padding-left:60px;
    padding-top:70px;
    padding-right:40px;
    display:flex;
    flex-direction:column;

    gap: 20px;
}

.project-headline {
    font-size:22px;
    font-weight:bolder;
}

.project-text {
    font-size:20px;
}

.img-container {
    display:flex;
    flex-grow:1;
    overflow:auto;
    gap:62px;
    justify-content:right;
    padding-bottom:62px;
}

.img-container > img {
    height:46px;
    align-self:end;
}

.announcements {
    grid-area: 3 / 3 / 5 / 4;

    display:flex;
    flex-direction:column;
    padding-left:34px;
    padding-bottom:15px;

}

.announcements > p {
    font-size:26px;
    font-weight:bold;
    font-family: verdana;
    letter-spacing:-1px;
    padding-top:33px;
    padding-bottom:33px;
    flex-direction:column;
}

.announce-container {
    display:flex;
    flex-direction:column;
    flex:1;
    border-radius:20px;
    overflow:hidden;
    margin-right:66px;
    background:#fff;
    padding-right:50px;
    padding-left:50px;
    padding-top:40px;
    box-shadow:10px 10px 15px 0px #ccd1d9;
}

.announce-container > div {
    background:white;
    padding-top:30px;
    padding-bottom:40px;
    padding-left:12px;
    padding-right:12px;
    flex:1;

    display:flex;
    flex-direction:column;
    gap:15px;
}

.announce-container > div:not(:first-child) {
    border-top:2px solid #d7d7d7;
}

.announce-title {
    font-size:22px;
    font-weight:bold;
    font-family:verdana;
}

.announce-content {
    color:#636363;
    font-family:verdana;
    font-size:18px;
}

.trending {
    grid-area: 5 / 3 / 6 / 4;

    display:flex;
    flex-direction:column;
    padding-left:34px;
    padding-top:42px;
    padding-bottom:110px;         
}

.trending-title {
    font-size:26px;
    font-family:verdana;
    font-weight:bold;
    padding-top:33px;
    padding-bottom:33px;
}

.trending-row {
    display:flex;
    flex:1;
    align-content:center;
    gap:36px;
}

.trending-container {
    display:flex;
    flex-direction:column;
    background:#fff;
    margin-right:66px;
    border-radius:20px;
    overflow:hidden;
    flex:1;
    box-shadow:10px 10px 15px 0px #ccd1d9;
    padding-left:45px;
    padding-top:42px;
    padding-bottom:58px;
    gap:50px;
}

.trending-tied-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px;
}

.acc-username {
    font-family:Verdana;
    font-weight:bold;
    font-size: 20px;
}

.acc-description {
    color:#636363;
    font-size:19;
}




* {
    margin: 0px;
    padding: 0px;
}

.logo-title {
    color:white;
    font-family: Verdana;
    font-weight: 700;
    letter-spacing:0px;
}

.header {
    display:grid;
    align-items:center;
    grid-template-columns: minmax(0, 62fr) minmax(0, 38fr);
    grid-template-rows: minmax(0, 45fr) minmax(0, 55fr);
    grid-area: 1 / 2 / 3 / 4;
    margin-right:27px;
    margin-left:80px;
}

.search {
    display:flex;
    gap:40px;
    align-items:center;

}

fieldset {
    flex-grow:0.97;
    display:flex;
    border:none;
}


.search-icon {
    flex-grow:0.03;
    height:30px;
    width:10px;
}

#user-search {
    flex-grow: 1;
    height: 60px;
    border-radius: 100px;
    background: #e2e8f0;
    border:none;
}

.profile-alert {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;
}

.alert-icon {
    height:44px;
    width:44px;
}

.account-icon {
    height:94px;
    width:100px;
}

.account-name {
    font-size: 33px;
    font-weight:bold;
    font-family:Verdana;
}

.account-intro {
    display:flex;
    align-items:center;
}

p.account-hello > strong {
    font-size:40px;
}

.account-hello {
    font-family:Verdana;
    font-size:20px;
}

.account-icon-large {
    height: 150px;
    width: 150px;
}

.user-controls {
    display:flex;
    gap:55px;
    justify-content:center;
}

.user-controls > button {
    flex-grow:1;
    max-width: 200px;
    height:80px;
    border-radius: 40px;
    border:none;
    color:white;
    background-color: #1992d4;
    font-size:24px;
    font-weight:bold;
    font-family:Verdana;
}